.root{

    @media screen and (min-wdth:768px) {
        padding: 1.5rem;
        width: 30rem;
        margin:0 auto;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    }
}